@import url('https://fonts.googleapis.com/css?family=PT+Sans:700|Khula:300,400,400i,700');

/*mobile styles*/

@media only screen 
and (max-device-width: 736px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
    body {
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    body div.navwrap {
        font-size: 3em;
        height: 105px;
    }
    body>div.navwrap>div.nav {
        padding-top: 15px;
        box-shadow: 0px 2px 5px hsla(0, 0%, 0%, 0.2);
        box-sizing: border-box;
    }
    body div.navwrap div.nav ul li {
        margin: 0px 20px 0px 10px;
    }
    body.list>div.container {
        font-size: 3em;
        margin: 25px 0px 0px 0px;
        width: 100%;
        max-width: 100vw;
    }

    body.list>div.container ul li {
        width: 100%;
        max-width: 100%;
        margin: 0px 0px 10px 0px;
        height: 55vh;
        font-size: 1.25em;
    }
    body.article-page>div.container {
        margin-top: 40px;
        width: 96vw;
        max-width: 96vw;
    }
    .article-page .container h1 {
        font-size: 3.5em; 
        margin: 0px auto;
    }
    .article-page .container h1+h3 {
        font-size: 2.5em;
        font-weight: lighter;
        margin: 10px 0px;
    }
    .article-page .container .article p {
        font-size: 2.5em;
    }
    .article-page .container .article code {
        font-size: 2em;
    }
    .article-page .container .contact form * {
        font-size: 2em;
        width: 100%;
    }
    .article-page .container .contact form input, .article-page .container .contact form textarea {
        font-size: 1.5rem;
    }
    .article-page .container .contact form .submit, .article-page .container .contact form .reset {
        font-size: 2em;
        padding: 30px;
    }
    .article-page .container .contact .error, .article-page .container .contact .success {
        width: 100%;
    }
    .article-page .container .contact .error h3, .article-page .container .contact .success h3 {
        font-size: 3em;
    }
}

/*normal styles*/

* {
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
}

body {
    font-family: 'Khula', sans-serif;
    font-size: 15px;
    margin: 0px;
    color: #000000;
    background-color: #ffffff;
}

body.list {
}

body.article-page {
}

div.navwrap {
    width: 100%;
    top: 0;
    margin: 0px;
    height: 40px;
}

div.navwrap div.nav {
    height: inherit;
    position: fixed;
    width: 100%;
    background: hsla(0, 100%, 100%, 0.95);
    box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.1);
    z-index: 3;
}

div.navwrap div.nav ul {
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    box-sizing: border-box;
}

div.navwrap div.nav ul li {
    margin: 0px 10px;
    font-weight: 200;
}


div.container {
    max-width: 90vw;
    margin: 40px auto;
    margin-bottom: 100px;
}

body.list>div.container {
    max-width: calc(100vw - 10px);
    margin: 10px auto 0px auto;}

body.list>div.container>p.search-title {
    text-align: center;
}

div.article {
    width: 100%;
    margin-top: 40px;
}

div.container div.error {
    background: hsla(0, 80%, 90%, 1);
    color: red;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0px;
    width: 400px;
    max-width: 100%;
}

div.container div.success {
    background: hsla(120, 80%, 90%, 1);
    color: green;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 0px;
    width: 400px;
    max-width: 100%;
}

.success *, .error * {
    margin: 0px;
    padding: 0px;
}

div.container form .field {
    max-width: 100%;
    width: 400px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 0.75em;
    box-sizing: border-box;
    resize: none;
}

input:focus, textarea:focus {
    outline: none;
}

div.container form button.submit {
    max-width: 100%;
    min-width: 25%;
    border-radius: 0px;
    background: #4F9D69;
    color: white;
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 14px;
    box-shadow: none;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

div.container form .reset {
    background: none;
    border: none;
    color: #4F9D69;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.article img {
    max-width: 100%;
    margin: 0px auto;
    display: flex;
}

.article p {
    line-height: 1.5;
    font-weight: 300;
}

.article code { 
    font-family: monospace;
    background: #eee;
    margin: 1em 0;
    padding: 10px 15px 25px 15px;
    max-width: 100%;
    max-height: 1000px;
    overflow: scroll;
    border-radius: 3px;
    box-sizing: border-box;
    white-space: pre;
    display: block;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

a {
    color: inherit;
    text-decoration: none;
    word-wrap: break-word;
}

div.container>ul>li {
    position: relative;
    overflow: hidden;
    flex: auto;
}

div.container>ul>li>div.background {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all .1s ease-in-out;
}

div.container>ul>li>div.background>img {
    min-width: 100%;
    min-height: 100%;
}

div.container>ul>li>a:hover+div.background {
    transform: scale(1.02);
}

div.container>ul>li>a:hover, .container ul li a:active {
    background: hsla(120, 0%, 0%, 0.85);
}

body.article-page .container {
    width: 800px;
}

.article-page .container a {
    text-decoration: none;
    color: #4F9D69;
}

.article-page .container a:hover, .article-page .container a:active, div.navwrap div.nav ul li a:hover {
    color: #4F9D69;
}

.article-page .container a:hover, .article-page .container a:active {
    text-decoration: underline;
}
.container ul {
    list-style: none;
    text-transform: capitalize;
    width: 100%;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.container ul li {
    width: 400px;
    height: 400px;
    margin: 0px 5px 10px 5px;
    display: inline-flex;
    color: #000000;
    font-size: 20px;
    line-height: 1.3;
    background-color: #4F9D69;
    background-position: center;
    background-size: cover;
    padding: 0;
    box-sizing: border-box;
}

.list .container ul li > a {
    z-index: 1;
    width: 100%;
    padding: 20px;
    background: hsla(120, 0%, 0%, 0.5);
    color: #ffffff;
    font-family: 'PT Sans';
    font-weight: 700;
    letter-spacing: -0.02em;
}

h1 + h3 {
    margin: -20px 0px 0px 0px;
    font-size: 15px;
    font-weight: normal;
}

h1 {
    font-size: 40px;
    color: #555555;
    font-family: 'PT Sans';
    text-transform: capitalize;
}
